/*texto e cor de fundo site*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f0ff;  
}

/*cabeçalho*/
header {
    height: 150px;
    background-color: #c06b8e;
    border-bottom: 2px solid #794058;
    border-top: 2px solid #794058;
    margin-bottom: 60px;
    margin-top: auto;
    color: #ffffff;
    text-align: center; 
}

/*media query header*/
@media (max-width:768px) {
    header {
        margin-bottom: 20px;
        height: 190px;
    }
}

/*texto cabeçalho*/
h1 {
    text-transform: uppercase;
    margin-bottom: 0;
    padding-top: 15px;
    color: #ffffff;
}

/*media query h1*/
@media (max-width:768px) {
    h1 {
        font-size: 30px;
    }
}

/*texto da header*/
header p {
    font-family: "Arial", sans-serif;
    padding-top: 15px;
}

/*seção dos cartões*/
section {
    margin: 0 auto 0 auto;
    display: block;
    max-width: 1024px;
    width: 100%;
}

/*cartão*/
.card {
    display: inline-block;
    margin: 10px;
    border: 2px solid #fe89ac;
    border-radius: 7px;
    vertical-align: top;
    max-height: 100%;
}

/*cartão imagem*/
img {
    display: block;
    width: 230px;
    height: 343px;
    border-radius: 5px;
}

/*cartão details*/
details {
    width: 230px;
    height: auto;
    display: inline-block;
    border-radius: 7px;
}

/*cartão summary*/
summary {
    font-size: 18px;
    padding: 10px;
}

/*cartão parágrafo*/
.card p {
    padding: 0 10px;
    font-weight: 700;
    font-family: "Arial", sans-serif;
}

/*cartão citação*/
.card p q {
    color: #331626;
    font-family: "Arial", sans-serif;
    font-style: italic;
    font-weight: 300;
}

/*imagem classificação indicativa*/
.idade {
    height: 25px;
    width: 25px;
    border-radius: 0;
}

/*media query cartôes*/
@media (max-width:768px) {
      .card {
        display: inline-block;
        margin: 25px;  
    }

    img {
        width: 125px;
        height: 100%;
    }

    details {
        width: 125px;
    }

    summary {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .idade {
        height: 20px;
        width: 20px;
    }
}

